<!DOCTYPE HTML>
<html>
	<head>
		<title>Brevis News</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/main.css">
		<style>
		body, html {
		    height: 100%;
		}
		</style>
	</head>
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<center><h1>Brevis News</h1></center>
				<center><p>Shorten News. Read the most important parts of the news.</p></center>
			</header>

		<center><form action="{% url 'summariser' %}" method="post">
			{% csrf_token %}
			<input placeholder="Enter article URL" type="text" name="text">
		    <input type="submit">
		</form></center>
		<h1>Trending topics on the web</h1>
		{% for term in trending_terms %}
		<li>{{term}}</li>
		{% endfor %}
		<h1>Trending sites on the web</h1>
		{% for url in trending_urls %}
		<li>{{url}}</li>
		{% endfor %}

	</body>
</html>