{% load static %}
{% load to_plus %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Brevis News</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'CSS/main.css' %}">
		<style>
		body, html {
		    height: 100%;
		}
		</style>
	</head>

	<body class="is-preload">

		<!-- IMPORTS HEADER PORTION -->
		<div class = "container">  
			{% include 'main/header.html' %}
			<br><br>
		</div>

		{% for term in trending_terms %}
		<li><a href='https://www.google.co.in/search?q={{ term|to_plus }}'>{{term}}</a></li>
		{% endfor %}

		<h1>Trending sites on the web</h1>
		{% for url in trending_urls %}
		<li><a href = {{url}}>{{url}}</a></li>
		{% endfor %}

	</body>
</html>