<!DOCTYPE HTML>
<html>
	<head>
		<title>Brevis News</title>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<center><header id="header">
				<h1>Brevis News</h1>
				<p>Shorten News. Read the most important parts of the news.</p>
			</header></center><br>

		<center><form method = "post">
			{% csrf_token %}
			{{form}}
			<button type="submit">Submit</button>
		</form></center>

		<!-- Signup Form -->
			<h2> Article </h1>
			<p>{{text|safe}}</p>
			<br>
			<br>
			<h2> Article Summary</h1>
			<p id="summary">{{text_summary}}</p>

			

	</body>
</html>